<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>
  </head>
  <body>
    <h2 class="header" style="padding:10px;">MIREA Assistant</h2>
    <div class="ui stackable two column grid" style="padding:10px;overflow-x:auto;" id="schedule">
      
    </div>
  </body>
</html>
