<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>
  </head>
  <body>
    <div class="container">
      <h2 class="header" id="logo">MIREA Assistant</h2>
      <div class="ui compact form" id="form">
        <div class="fields" id="institute">
          <div class="field">
            <label></label>
            <div class="ui selection dropdown" id="institute_dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Институт</div>
              <div class="menu" id="institute_value">
              </div>
            </div>
          </div>
          <div class="field" id="group">
            <label></label>
            <div class="ui selection dropdown" id="group_dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Группа</div>
              <div class="menu" id="group_value">
              </div>
            </div>
          </div>
          <div class="field" id="week">
            <label></label>
            <div class="ui selection dropdown" id="week_dropdown">
              <input type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">Неделя</div>
              <div class="menu" id="value">
                <div class="item" data-value="odd">Нечетная</div>
                <div class="item" data-value="even">Четная</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui stackable two column grid" id="schedule">

      </div>
    </div>
  </body>
</html>
