<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>

    <script src="/js/classes.js"></script>
    <script src="/js/vr.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>

      <%- include('layout/menu') -%>

      <div class="ui four stackable cards" id="achievements">
        <div class="card">
          <div class="image">
            <img src="/img/vr/oculus.png">
          </div>
          <div class="content">
            <div class="header">Допуск</div>
            <div class="meta">
              <a>1 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(1);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/img/vr/oculus.png">
          </div>
          <div class="content">
            <div class="header">Oculus Rift</div>
            <div class="meta">
              <a>2 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(2);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/img/vr/vive.png">
          </div>
          <div class="content">
            <div class="header">HTC Vive</div>
            <div class="meta">
              <a>3 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(3);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/img/vr/epson.png">
          </div>
          <div class="content">
            <div class="header">Epson BT-300</div>
            <div class="meta">
              <a>4 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(4);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/img/vr/hololens.png">
          </div>
          <div class="content">
            <div class="header">Microsoft Hololens</div>
            <div class="meta">
              <a>5 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(5);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="/img/vr/kat.png">
          </div>
          <div class="content">
            <div class="header">Kat Walk</div>
            <div class="meta">
              <a>6 семестр</a>
            </div>
            <div class="description">
              <a class="ui teal button" href="javascript:openModal(6);">
                <i class="add icon"></i>
                Открыть
              </a>
            </div>
          </div>
          <div class="ui bottom attached indicating progress">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="ui tiny modal" id="score">
        <div class="header">Ввод баллов за <span id="term">?</span> семестр</div>
        <div class="content">
          <div class="ui form" id="form">
            <div class="fields">
              <div class="field mobile-centered">
                <label id="class-1">?</label>
                <div class="ui compact selection dropdown">
                  <input type="hidden" id="class-1-value">
                  <i class="dropdown icon"></i>
                  <div class="default text">Оценка</div>
                  <div class="menu">
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="field mobile-centered">
                <label id="class-2">?</label>
                <div class="ui compact selection dropdown">
                  <input type="hidden" id="class-2-value">
                  <i class="dropdown icon"></i>
                  <div class="default text">Оценка</div>
                  <div class="menu">
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="field mobile-centered">
                <label id="class-3">?</label>
                <div class="ui compact selection dropdown">
                  <input type="hidden" id="class-3-value">
                  <i class="dropdown icon"></i>
                  <div class="default text">Оценка</div>
                  <div class="menu">
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="compact field mobile-centered">
                <label id="class-4">?</label>
                <div class="ui compact selection dropdown">
                  <input type="hidden" id="class-4-value">
                  <i class="dropdown icon"></i>
                  <div class="default text">Оценка</div>
                  <div class="menu">
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="field mobile-centered">
                <label id="class-5">?</label>
                <div class="ui compact selection dropdown">
                  <input type="hidden" id="class-5-value">
                  <i class="dropdown icon"></i>
                  <div class="default text">Оценка</div>
                  <div class="menu">
                    <div class="item" data-value="3">3</div>
                    <div class="item" data-value="4">4</div>
                    <div class="item" data-value="5">5</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui approve button" onclick="save()">Сохранить</div>
          <div class="ui cancel button">Закрыть</div>
        </div>
      </div>

    <%- include('layout/about') -%>
  </body>
</html>
