<!DOCTYPE html>
<html>
  <head>
    <title>MIREA Assistant</title>

    <%- include('layout/head') -%>
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>

      <%- include('layout/menu') -%>

      <div class="ui four doubling cards" id="achievements">
        <div class="card">
          <div class="image">
            <img src="/img/vr/oculus.png">
          </div>
          <div class="content">
            <div class="header">Oculus Rift</div>
            <div class="meta">
              <a>1 семестр</a>
            </div>
            <div class="description">
              Matthew is an interior designer living in New York.
            </div>
          </div>
          <div class="ui bottom attached teal button">
            <i class="add icon"></i>
            Разблокировать
          </div>
        </div>
      </div>

    <div class="ui basic modal" id="about-modal">
      <div class="ui icon header">
        <img src="/img/logo_mirea.png">
        О проекте
      </div>
      <div class="content">
        <p>Ассистент МИРЭА сделан для получения студентам различной информации об Университете.</p>
        <p>На данный момент реализован сервис удобного расписания, который показывает нужную неделю, выделяет день и текущую пару.</p>
        <p>Планируется добавить карту аудиторий, которая покажет как быстро добраться до нужной аудитории, доску объявлений, отображение замен в расписании, а также, возможно, личный кабинет с оценками.</p>
        <p>Если расписание вашей группы/института отсутствует или оно не совпадает с действительностью, обратитесь к авторам проекта.</p>
        <p>Также рекомендуется посетить <a href="https://github.com/feed4rz/mirea-assistant" target="_blank">репозиторий проекта</a> для ознакомления с API и возможностью его доработки (при желании).</p>
        <p></p>
        <p>
          <div class="ui list">
            <div class="item">
              <i class="user icon"></i>
              <div class="content">
                feed4rz <a href="https://vk.com/id312615911" target="_blank">vk.com/id312615911</a>
              </div>
            </div>
            <div class="item">
              <i class="user icon"></i>
              <div class="content">
                Ruslan Vinter <a href="https://vk.com/r_vinter" target="_blank">vk.com/r_vinter</a>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div class="actions">
        <div class="ui red basic cancel button">
          <i class="remove icon"></i>
          Закрыть
        </div>
      </div>
    </div>
  </body>
</html>
