.container {
  padding:10px !important;
  padding-bottom:50px !important;
}

#select_group {
  margin-top:5px;
}

#schedule {
  margin-top:5px;
  overflow-x:auto;
}

#achievements {
  margin-top:10px;
}

#menu {
  margin-left:15px;
}

#form {
  margin-top:10px;
}

#chats {
  margin-top:10px;
}

#search {
  margin-top:10px;
}

#load_more_container {
  margin-top:10px;
}

#join-content {
  text-align:center;
}

@media (min-width: 767px) {
  .pc-hidden {
    display:none !important;
  }
}

@media (max-width: 767px) {
  .mobile-centered {
    /* display:block !important; */
    margin-left:auto !important;
    margin-right:auto !important;
    align:center !important;
    text-align: center !important;
  }

  .mobile-hidden {
    display:none !important;
  }

  #menu {
    margin-left:0px;
  }
}

@media (max-width: 450px) {
  .mobile-centered-critical {
    display:block !important;
    margin-left:auto !important;
    margin-right:auto !important;
    align:center !important;
    text-align: center !important;
  }

  .mobile-hidden-critical {
    display:none !important;
  }
}
