.container {
  padding:10px !important;
  padding-bottom:50px !important;
}

#select_group {
  margin-top:5px;
}

#schedule {
  margin-top:5px;
  overflow-x:auto;
}

#menu {
  margin-left:15px;
}

#form {
  margin-top:10px;
}
