<div class="mobile-centered">
  <div class="ui compact mini menu" id="menu">
    <a class="item" href="javascript:about();">
      <i class="help icon"></i> О проекте
    </a>
    <a class="item" href="https://github.com/feed4rz/mirea-assistant" target="_blank">
      <i class="github icon"></i> Github
    </a>
    <div class="ui dropdown item" id="services">
      <i class="settings icon"></i> Сервисы <i class="dropdown icon"></i>
      <div class="menu" style="z-index:101;">
        <a class="item" href="/">Расписание</a>
        <a class="item" href="/labaccess">Калькулятор доступа к лаборатории VR/AR</a>
        <a class="item" href="/chats">Чаты</a>
      </div>
    </div>
  </div>
</div>
