<div class="ui message" id="message" style="display:none !important;">
  <i class="close icon" id="message-dismiss"></i>
  <div class="header" id="message-header">
    ?
  </div>
</div>

<div class="ui banner mobile-centered"><a href="https://play.google.com/store/apps/details?id=radonsoft.mireaassistant" target="_blank"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" class="ui small image mobile-centered"></a></div>

<!--div class="ui banner ad mobile-hidden"><a href="https://vk.cc/7a7Y4P" target="_blank"><img src="/img/banner.jpg" class="ui rounded image"></a></div>
<div class="ui half banner ad pc-hidden mobile-centered"><a href="https://vk.cc/7a7Y4P" target="_blank"><img src="/img/banner-half.jpg" class="ui rounded image"></a></div-->
